/* overlay  */
#overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
}

.model {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    height: 400px;
    background-color: white;
    position: relative;
    top: 20%;
    width: 800px;
    display: flex;
    border-radius: 10px;
    font-family: "Protest Riot", sans-serif;
    animation: abs 2s;
}

@keyframes abs {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

#popImg {
    width: 350px;
    height: 350px;
}

#popImg:hover,
#subsBtn:hover,
#shopBtn:hover {
    transform: scale(1.1);
    transition: 0.5s;

}

.uper{
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    font-family: "Protest Riot", sans-serif;

}

#header-heading {
    font-size: 35px;
}

#title {
    padding: 10px;
    font-size: 45px;
}

#close-model {
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 4px;
    text-align: center;
    line-height: 30px;
}

#close-model:hover {
    background-color: rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}

#subsBtn,
#shopBtn {
    padding: 15px;
    background-color: orange;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    align-items: center;
    cursor: pointer;
}




.tab {
    cursor: pointer;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}


.tab:hover {
    background-color: rgb(221, 192, 154);
    border-radius: 30%;

}

.tab.active {
    background-color: rgb(161, 219, 221);
    border-radius: 30%;
}



header{
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
    border-bottom: 1px solid black;
    background-color: black;
    z-index: 1;
}










@font-face {
    src: url("/images/DeliCake.ttf");
    font-family: Deli Cake;
}

* {
    margin: 0;
    font-family: Deli Cake;
    border: border-box;
}

.img1 {
    width: 80px;
}

.panel {
    height: 80px;
    background-color: rgb(201, 225, 226);
    display: flex;

    justify-content: center;
    align-items: center;

}

.panel-ops {
    display: flex;
    color: black;

}

.panel-ops p {
    padding: 4px;
    font-size: 1.5rem;
    margin: 5px;
    font-family: 'Varela Round', sans-serif;
}



.hero-section {
    background-image: url("/images/main1.png");
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 4rem;
    text-align: center;
    margin: 20px;
    color: rgb(247, 176, 83);
    text-shadow: 5px 0px 10px black;
}

.shop-section {
    display: flex;

    align-items: center;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.box-img {
    width: 280px;
    height: 250px;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    border-radius: 10px;
}

.mid-section {
    text-align: center;
    padding-top: 60px;
    margin-top: 150px;
}

.sub-title {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: #A50202;

}

.sub-heaad {
    font-family: Deli Cake;
    font-size: 90px;
    color: #18293D;
    margin-top: 40px;
    margin-bottom: 20px;

}

.ser-img {
    width: 300px;
    height: 300px;
    background-size: cover;
    margin: 10px;
    border-radius: 10px;
}

.serv {
    width: 200px;
    padding-left: 40px;
    font-family: 'Varela Round', sans-serif;

}

#search {
    width: 700px;
    display: flex;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 30px;
    line-height: 30px;
    padding: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 10px;
}

#searchInput {

    border: none;
    width: 650px;
    font-size: 20px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    outline: none;


}

.results {
    /* border: 1px solid black; */
    width: 50%;
    margin: 0 auto;
    position: relative;

}

.name {
    height: 100px;
    list-style: none;
    line-height: 100px;
}

nav {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid black;

}

nav img {
    width: 100px;
    height: 90px;
    margin: 10px;
    border-radius: 10px;
}

.avatar {
    width: 100px;
    height: 200px;
}

.card {
    margin-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px auto;
    width: 400px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: 7px solid #d8cefe;
    background-color: #ddebf8;
    color: #2b2839;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 5px;
    margin-top: 60px;
    margin-bottom: 30px;
    align-items: center;
    height: 200px;


}

.revewies {
    background-image: url("/images/cakbac.webp");
    background-size: cover;
    opacity: 0.8;
    padding: 0px;
}

.box-img {
    background-size: cover;
}

.newbac {
    background-color: linear-gradient(#0a2035, #b16382);
}

/* hero section  */
.carousel {
    position: relative;
    max-width: 1500px;
    /* height: 500px; */
    padding-top: 60px;
    margin-top: 130px;
    /* padding-top: 200px; */
}

.crousel-item {
    display: none;

}

.crousel-item-visible {
    display: block;
    animation: fadevisiblity 0.5s;
}

img {
    width: 100%;
    height: auto;
    max-width: 1500px;
    height: 73vh;
}

.crousel-action {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.crousel-action button {
    border-radius: 50%;
    background-color: white;
    width: 40px;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.crousel-action #crousel-button-pre {
    margin-left: 20px;
}

.crousel-action #crousel-button-next {
    margin-right: 20px;
}

@keyframes fadevisiblity {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;

    }
}




.foot-panel2 {
    padding-bottom: 0px;
    background-image: url("/images/layered-waves-haikei-removebg-preview.png");
    height: 700px;
    background-size: cover;
    color: black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    padding-bottom: 100px;
}

ul {
    padding-bottom: 0px;
    padding: 50px;
    font-size: 1.85rem;
    font-family: 'Varela Round', sans-serif;


}

ul a {
    display: block;
    font-size: 1.5rem;
    color: black;
    font-family: 'Varela Round', sans-serif;

}


.share {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.happiness-box {
    height: 400px;
    width: 220px;
    border: 1px solid rgb(78, 82, 81);
    padding-top: 5px;
    padding-top: 5px;
    font-family: 'Varela Round', sans-serif;
    background-color: white;


}

.happy-head {
    text-align: center;
    margin-top: 60px;

}

.happiness-img {
    height: 300px;
    background-size: cover;
}

.social {
    display: flex;
}

.social img {
    width: 20px;
    height: 20px;
}

.social a {
    margin: 3px;
}

.foot-panel4 {
    color: black;
    font-size: 0.7rem;
    text-align: center;
    height: 80px;


}

.pages {
    padding-top: 15px;
}

.copyright {

    padding-top: 5px;
}

.pages a {
    font-family: 'Varela Round', sans-serif;

}

.uper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("/images/Untitled_design-removebg-preview.png");
    background-size: cover;
    height: 100px;
    width: 100px;
}



.reviwSection {
    margin-top: 20px;
    display: flex;
    padding: 30px;
    background-image: url("/images/happy-birthday-background-pattern.jpg");
    background-size: cover;
}

#newpost {
    width: 600px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    background-image: url("/images/formbac.jpg");
    background-size: cover;
}

#newpost label {
    font-size: 40px;

}

#newpost input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2px;

    font-size: 40px;
}

#newpost textarea {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2px;

    font-size: 20px;
}

#newpost button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(210, 72, 228);
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
}

.apiReviwes {
    border: 1px solid black;
    width: 600px;
    margin-left: 30px;
    margin: 10px;
    background-image: url("/images/formbac.jpg");
    background-size: cover;
    overflow: hidden;
    overflow-y: scroll;
    height: 450px;
}

#blogspace {
    color: black;
    z-index: 1;
}






/* home pae products  */

.section-p1 {
    margin: 40px 0;
    padding: 0 80px;
}
#product1 {
    text-align: center;
    padding: 0 80px;
}

#pruduct1 .pro {
    width: 23%;
}

#product1 .pro img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
}

#product1 .pro {
    width: 28%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7de;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}

#product1 .pro h6 {
    color: #088178;
    padding: 10px 0;
}

#product1 .pro .des {
    color: #606063;
    font-size: 12px;
    text-align: left;

}

#product1 .pro .des span {
    padding-top: 7px;
    color: #1a1a1a;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: goldenrod
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#cart {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#product1 .pro .fa-cart-shopping {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    color: #088178;
    border-radius: 50px;
    border: 1px solid #cce7de;
    text-align: right;
}

.pro-container ,.pro-container1,.pro-container3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
